.container {
  overflow-y: auto;
  height: calc(100vh - 4rem);
  padding: 0 1rem;
}

.container::-webkit-scrollbar {
  /* display: none; */
  width: 5px;
  border-radius: 5px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #dddddd;
}

.container::-webkit-scrollbar-track {
  background-color: #828282;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  outline-color: transparent;
  background-color: #0d6efd;
  color: #f8f9fa !important;
}

.alert {
  padding: 2px 1rem;
  border-radius: 5px;
  background-color: #198754;
  color: white !important;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group > * {
  width: 100%;
}

.form-group input {
  padding: 0.6rem 1rem;
  border-radius: 5px;
  border: 2px solid #e0e0e0;
  outline-color: transparent;
}

.invalid-class {
  border-color: #dc3545 !important;
}

.valid-class {
  border-color: #198754 !important;
}

.feedback {
  color: #dc3545 !important;
}
