.btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  outline-color: transparent;
  background-color: #0d6efd;
  color: #f8f9fa !important;
  cursor: pointer;
}

.form-group {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group > * {
  width: 100%;
}

.form-group input {
  padding: 0.6rem 1rem;
  border-radius: 5px;
  border: 2px solid #e0e0e0;
  outline-color: transparent;
}

.invalid-class {
  border-color: #dc3545 !important;
}

.valid-class {
  border-color: #198754 !important;
}

.feedback {
  color: #dc3545 !important;
}
